.article{
  border: 1px #ddd solid;
  border-radius: 5px;
  padding: 20px;
  width: 600px;
  margin: 15px auto 15px auto;
  font-size: medium;
  font-family: Helvetica, sans-serif;
  color: #555;
}
.article:hover{
  box-shadow: 1px 1px 10px #999;
}
.article p{
  margin: 0;
}
.article h3{
  margin-top: 0;
}
